body{
    margin: 0;
    padding: 0;
    font-family: 'Battambang';
}
.Header_container_full{
    width: 100%;
    height: 120px;
    background-color: black;
}
.header_container{
    width: 90%;
    height: 100%;
    margin: auto;
    /* background-color: blue; */
}
.header_container .logo {
    width: 35%;
    height: 100%;
    float: left;
    /* background-color: green; */
}
.header_container .logo img{
    height: 75%;
    margin-top: 16px;
}
.header_container .abs{
    width: 65%;
    height:100% ;
    /* background-color: brown; */
    float: left;

}
.header_container .abs img{
    width: 100%;
    float: left;
    margin-top: 16px;
}
.menu-full-container{
   width: 100%;
   overflow: hidden;
   background-color: red;
}
.menu-container{
    width: 75%;
    overflow: hidden;
    /* background-color: pink; */
    /* margin:auto ; */
    margin-left: 63px;
}
.menu-container ul{
    list-style-type: none; 
    padding: 0;
    margin: 0;
    
}
.menu-container ul li{
    float: left;
}
.menu-container ul li a{
    display: block;
    color: white;
    padding: 10px 23px;
    opacity: 0.7;
    text-decoration: none;
    font-family: 'Koulen';
    font-size: 17px;
    margin-right:20px ;
}
.menu-container ul li a:hover{
    opacity: 1;
}
.homepage{
    width: 90%;
    height: 500px;
    margin: auto;
    margin-top: 15px;
    /* background-color: rgb(107, 63, 123); */
 
}
.content-homepage{
    width: 69%;
    height: 100%;
    float: left;
    background-color: bisque;
    margin-right: 1%;
}
.homepage .Ads{
    width: 30%;
    height: 100%;
    /* background-color: rgb(255, 0, 34); */
    float: left;
}
.Ads .ads1{
    width: 100%;
    height: 50%;
    /* background-color: aqua; */
}
.Ads .ads2{
    margin-top: 1%;
    width: 100%;
    height: 50%;
    /* background-color: rgb(150, 180, 180); */
}
.Ads .ads1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.Ads .ads2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content-homepage .content1{
    width: 60%;
    height: 50%;
    overflow: hidden;
    float: left;
    /* background: linear-gradient(360deg, rgba(2,0,36,1) 0%, rgba(107,107,190,1) 81%, rgba(0,212,255,1) 100%); */
}
.content-homepage .content2{
    width: 40%;
    height: 50%;
    overflow: hidden;
    float: left;
    background-color: coral;
}
.bgimage{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bgimage .subtitle{
    width: 100px;
    height: 40px;
    background-color: rgb(209, 245, 124);
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: blue;
    font-weight: bold;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 75% 0);

}
.bgimage .subtitle p{
    transform: translateX(-10px);
}
.content1  h3{
    transform: translateY(120px);
    color: white;
    text-shadow: 2px 2px 2px black;
    line-height: 20px;
    transition: 0.5s;
    margin-left: 10px;
}
.content1:hover  h3{
    transform: translateY(30px);
    color: rgb(167, 245, 116);
    text-shadow: 2px 2px 2px black;
}
.content1  h3 span{
    font-size: 13px;
    margin:0px 10px;
    display: none;
}
.content1:hover  h3 span{
    display: block;
    color: white;
}
.content2  h3{
    transform: translateY(120px);
    color: white;
    text-shadow: 2px 2px 2px black;
    line-height: 20px;
    transition: 0.5s;
    margin-left: 10px;
}
.content2:hover  h3{
    transform: translateY(50px);
    color: rgb(167, 245, 116);
    text-shadow: 2px 2px 2px black;
}
.content2  h3 span{
    font-size: 13px;
    margin:0px 10px;
    display: none;
}
.content2:hover  h3 span{
    display: block;
    color: white;
}
.Vdo-container{
    width: 90%;
    /* height: 680px; */
    overflow: hidden;
    /* background-color: aqua; */
    margin: 20px auto;
    /* box-shadow: 1px 1px 1px 1px  rgb(198, 196, 196); */
}
.full-header{
    width: 100%;
    height: 45px;
    border-bottom: 3px solid rgb(130, 241, 19);
    /* background-color: bisque; */
}
.full-header .header{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(130, 241, 19);
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 75% 0);
}
.full-header .header p{
    font-size: 20px;
    font-family: 'Koulen';
    color: white;
    transform: translateX(-10px);
}
.Vd-news{
    width: 99.6%;
    height: 680px;
    margin: auto;
    margin-right:0.2% ;
    margin-bottom: 0.1%;
    /* box-sizing: border-box; */
    /* position: relative; */
    box-shadow: 1px 1px 1px 1px  rgb(198, 196, 196);
    /* background-color: rgb(235, 232, 232); */
    /* margin-top: 20px; */
}
.Vd-news .hold{
    width: 95%;
    overflow: hidden;
    /* background-color: aqua; */
    margin: auto;
    padding-top: 20px;
    /* margin-top: 20px; */
    /* box-shadow:  5px 5px 5px rgb(198, 196, 196) ; */
}
.hold .top-news{
    width: 100%;
    height: 230px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: brown; */
}
.top-news .news{
    width: 33%;
    height: 100%;
    /* background-color: blue; */
}
.top-news .news .pic{
    width: 100%;
    height: 60%;
    background-color: black;
}
.top-news .news .pic img{
    width: 100%;
    height: 96%;
    object-fit: cover;
    margin-top: 1%;
    margin-bottom: 1%;
    transition: 0.5s;
}
.news .ds p{
    margin-top: 5px;
}
.top-news .news .pic:hover img{
    width: 100%;
    height: 92%;
    /* margin-bottom: 2%;
    margin-top: 2%;  */
    object-fit: cover;
    transform: scale(0.97);
}
.bottom-news{
    width: 100%;
    height: 400px;
    /* background-color: blue; */
    margin-top: 10px;
}
.bottom-news .newss{
    width: 70%;
    height: 100%;
    background-color: azure;
    float: left;
}
.newss .top{
    width: 100%;
    height: 50%;
    /* background-color: aqua; */
}
.newss .top .news{
    width: 24%;
    height: 100%;
    /* background-color: rgb(37, 131, 214); */
    float: left;
    /* padding: 10px; */
    margin-right:1% ;
}
.top .news .img{
    width: 100%;
    height: 60%;
    /* background-color: chartreuse; */
}
.top .news .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.top .news .des{
    width: 100%;
    height: 40%;
    /* background-color: chocolate; */
    overflow: hidden;
}
.top .news .des p{
    margin-top: 0px;
    padding-top: 0px;
    font-size: 15px;
}
.newss .bottom{
    width: 100%;
    height: 50%;
    /* background-color: aqua; */
}
.newss .bottom .news{
    width: 24%;
    height: 100%;
    /* background-color: rgb(184, 58, 90); */
    float: left;
    /* padding: 10px; */
    margin-right:1% ;
}
.bottom .news .img{
    width: 100%;
    height: 60%;
    /* background-color: chartreuse; */
}
.bottom .news .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bottom .news .des{
    width: 100%;
    height: 40%;
    /* background-color: rgb(112, 65, 31); */
    overflow: hidden;
}
.bottom .news .des p{
    margin-top: 0px;
    padding-top: 0px;
    font-size: 15px;
    overflow: hidden;
}
.bottom-news .adss{
    margin-left: 5px ;
    width: 29%;
    height: 100%;
    float:right;
    /* background-color: rgb(70, 50, 126); */
}
.bottom-news .adss .ad1{
    width: 100%;
    height: 49%;
    /* background-color: rgb(92, 98, 76); */
    margin-bottom: 5px;
}
.bottom-news .adss .ad1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bottom-news .adss .ad2{
    width: 100%;
    height: 49%;
    margin-top: 5px;
    /* background-color: rgb(92, 98, 76); */
}
.bottom-news .adss .ad2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.komsan-content{
    width: 90%;
    height: 500px;
    overflow: hidden;
    margin: auto;
}
.komsan-content .content{
    width: 99.6%;
    height: 430px;
    margin: auto;
    margin-bottom: 0.1%;
    /* background-color: blue; */
    box-shadow:  1px 1px 1px 1px  rgb(198, 196, 196);
}
.content .con1{
    width: 100%;
    height: 100%;
    padding: 20px;
}
.con1 .big-content{
    width: 33%;
    height: 90%;
    /* background-color: chocolate; */
    float: left;
    margin-right: 20px;
}
.big-content .img{
     width: 100%;
     height: 60%;
     /* background-color: blueviolet; */
}
.big-content .img img{
     width: 100%;
     height: 100%;
     object-fit: cover;
}
.con1 .big-content .dss{
    width: 100%;
    height: 40%;
    background-color: fuchsia;
    overflow: hidden;
}
.con1 .big-content .dss p{
    margin: 0px;
    padding: 0px;
    font-size: 27px;
    font-family: 'Koulen';
    color: rgb(9, 24, 37);
}
.con1 .bigest{
    width: 65%;
    height: 100%;
    float: right;
}
.bigest .top{
    width: 95%;
    height: 45%;
    /* background-color: aqua; */
    margin-right: 20px;
}
.top .top1{
    width: 24%;
    height: 100%;
    /* background-color: chartreuse; */
    float: left;
    margin-right: 1%;
}
.top1 .pic{
    width: 100%;
    height: 70%;
}
.top1 .pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.top1 .dsc{
    width: 100%;
    height: 30%;
    overflow: hidden;
}
.top1 .dsc p{
    margin: 0px;
    padding: 0px;
    font-size: 10px;
}


.bigest .bottom{
    width: 95%;
    height: 45%;
    /* background-color: aqua; */
    margin-right: 20px;
}
.bottom .top1{
    width: 24%;
    height: 100%;
    /* background-color: chartreuse; */
    float: left;
    margin-right: 1%;
}
.top1 .pic{
    width: 100%;
    height: 70%;
}
.top1 .pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.top1 .dsc{
    width: 100%;
    height: 30%;
    overflow: hidden;
}
.top1 .dsc p{
    margin: 0px;
    padding: 0px;
    font-size: 10px;
}
.footer{
    width: 100%;
    height: 300px;
    background-color: black;
    /* margin: auto; */
}
.footer .comfoot{
    width: 90%;
    height: 100%;
    margin: auto;
    /* background-color: aqua; */
}
.comfoot .left{
    width: 35%;
    height: 100%;
    float: left;
    /* background-color: rgb(67, 33, 136); */
}
h4{
    font-family: 'Battambang';
    padding: 0px;
    margin-top: 0px;
    font-size: 15px;
    color: white;
    opacity: 0.7;
    font-weight: 400;
}
h3{
    color: white;
    margin: 0px;
    font-size: 15px;
}
h1{
    margin-top: 40px;
    color: white;
    opacity: 0.8;
    font-family: Koulen,Arial,Helvetica,sans-serif;
}
.comfoot .left img{
    height: 60px;
    margin-top: 40px;
}
.comfoot .mid{
    margin-top: 45px;
    font-size: 20px;
    color: white;
    opacity: 0.7;
    font-family: Koulen,Arial,Helvetica,sans-serif;
    width: 39%;
    height: 100%;
    float: left;
    margin-right: 30px;
    /* background-color: rgb(200, 196, 210); */
}
.comfoot .right{
    width: 22%;
    height: 100%;
    margin-top: 40px;
    font-size: 20px;
    color: white;
    opacity: 0.7;
    font-family: Koulen,Arial,Helvetica,sans-serif;
    float: left;
    /* background-color: rgb(67, 33, 136); */
}
.mid img{
    height: 35px;

}
.right img{
    margin-top: 30px;
    height: 30px;
    color: white;
    border-radius: 50%;
}
.entertanment-container{
    width: 90%;
    overflow: hidden;
    margin: auto;
    margin-top: 15px;
    /* background-color: blue; */
}
.entertanment-container .vd-container{
    width: 70%;
    overflow: hidden;
    /* background-color: aqua; */
    float: left;
}
.vd-container .title{
    width: 100%;
    height: 45px;
    border-bottom: 3px solid rgb(130, 241, 19);
    /* background-color: brown; */
}
/* .vd-container .title .foot-right{
    float: right;
    width: 80%;
    height: 67px;
} */
.vd-container .title .foot{
    width: 15%;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(130, 241, 19);
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 100%, 75% 0);
}
.vd-container .title .foot p{
    font-size: 20px;
    font-family: 'Koulen';
    color: white;
    transform: translateX(-20px);
}
.vd-container .full-ele{
    width: 99.75%;
    overflow: hidden;
    margin: auto;
    box-shadow: 1px 1px 1px 1px rgb(133, 130, 130);
}
.full-ele .ele-sub{
    width: 100%;
    height: 100%;
    /* background-color: cadetblue; */
}
.full-ele .ele-sub .top-ele{
    width: 95%;
    height: 320px;
    padding: 20px;
}
.ele-sub .top-ele .top1{
    width: 48%;
    height: 100%;
    /* background-color: aqua; */
    float: left;
    margin-right: 2%;
    overflow: hidden;
}
.ele-sub .top-ele .top2{
    width: 48%;
    height: 100%;
    /* background-color: rgb(29, 91, 91); */
    float: left;
    margin-left: 2%;
}
.ele-sub .top-ele .top1 img{
    width: 100%;
    height: 70%;
    object-fit: cover;
}
.ele-sub .top-ele .top1 h3{
    width: 100%;
    height: 30%;
    font-size: 20px;
    color: black;
}
.ele-sub .top-ele .top2 img{
    width: 100%;
    height: 70%;
    object-fit: cover;
}
.ele-sub .top-ele .top2 h3{
    width: 100%;
    height: 30%;
    font-size: 20px;
    color: black;
}
.ele-sub .bottomvd{
    width: 100%;
    overflow: hidden;
    margin: 20px;
}
.bottomvd .vd{
    width: 95%;
    height: 160px;
    margin-bottom: 15px;
    /* background-color: blue; */
}
.bottomvd .vd .img{
    float: left;
    width: 35%;
    height: 100%;
    /* background-color: aqua; */
}
.bottomvd .vd .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.vd .dss{
    float: right;
     /* :20px ; */
    width: 63%;
    height: 100%;
    /* background-color: rgb(189, 108, 108); */
}
.bottomvd .vd .dss p{
   padding: 0px;
   margin: 0px;
   font-size: 18px;
   font-weight: bold;
   line-height: 1.5;
}
.bottomvd .vd .dss h5{
   padding: 0px;
   margin: 0px;
   opacity: 0.6;
   border-bottom: solid 1px rgb(97, 97, 97);
}
.bottomvd .vd .dss h2{
    padding: 0px;
    margin: 0px;
    opacity: 0.7;
    font-size: 15px;
}
.entertanment-container .adsss{
    float: right;
    width:30%;
    overflow: hidden;
    /* background-color: aqua; */
}
.adsss .apppp{
    width: 100%;
    overflow: hidden;
}
.adsss .apppp .top-pic-ads{
    margin: auto;
    width: 85%;
    height: 60px;
    /* background-color: blue; */
}
.adsss .apppp .top-pic-ads img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.apppp .bot-pic-ads{
    width: 85%;
    height: 250px;
    margin: auto;
}
.apppp .bot-pic-ads img{
    padding-top: 20px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.adsss .opppp{
    width: 100%;
    /* background-color: aqua; */
    overflow: hidden;
}
.opppp .top{
    width: 85%;
    height: 50px;
    margin: auto;
    margin-top: 30px;
    /* background-color: rgb(41, 92, 137); */
}
.top h1{
    color: black;
    opacity: 0.6;
    font-size: 20px;
    margin: 0px;
}
.opppp .top .hh{
    width: 20%;
    height: 5px;
    border-bottom: 3px solid red;
} 
.opppp .vdc{
    width: 85%;
    height: 80px;
    margin: auto;
    margin-top: 15px;
    /* background-color: blue; */
}
.vdc .vd-pic{
    float: left;
    width: 15%;
    height: 100%;
    /* background-color: blue; */
}
.vdc .vd-pic img{
    width: 90%;
    height: 50%;
    object-fit: cover;
}
.vdc .dv-ds{
    margin-left:2px ;
    float: right;
    width: 82%;
    height: 100%;
    /* background-color: blueviolet; */
}
.vdc .dv-ds p{
    color: black;
    font-size: 15px;
    margin: 0px;
    display: block;
    overflow: hidden;
}